@{
    ViewBag.Title = "CONTACT WITH US";
}
<h2>@ViewBag.Title.</h2>


<address class="col-lg-3">
    Head Office :
    DHS Motors Limited
    Address : 11, Mohakhali C/A,
    Dhaka-1212, Bangladesh.
    Hours of Operation : 9:00AM – 5:00PM (Sat-Wed)
    Thu 9:00AM – 2:00PM (Fri Closed)
    Tel : +88 02 9889600
    Fax : +88 02 9881061
</address>

<address>
    <strong>Support:</strong>  <h1> <a href="mailto:Support@DHS.com">Support@DHS.com</a><br /></h1>
    <strong>Marketing:</strong>  <h1>  <a href="mailto:Marketing@DHS.com">Marketing@DHS.com</a></h1>
</address>

<div class="col-lg-3">
    <h1> Branch Office:</h1>
  
    DHS Motors Limited
    Address : 11, Mirpur A/B,
    Dhaka-1011, Bangladesh.
    Hours of Operation : 9:00AM – 5:00PM (Sat-Wed)
    Thu 9:00AM – 2:00PM (Fri Closed)
    Tel : +88 02 9889600
    Fax : +88 02 9881061
</div>

<div class="col-lg-3">
    <h1> Branch Office:</h1>
   
    DHS Motors Limited
    Address : 11, Dhanmondhi 12/A,
    Dhaka-1400, Bangladesh.
    Hours of Operation : 9:00AM – 5:00PM (Sat-Wed)
    Thu 9:00AM – 2:00PM (Fri Closed)
    Tel : +88 02 9889600
    Fax : +88 02 9881061
</div>

<div class="col-lg-3">
    <h1> Branch Office:</h1>

    DHS Motors Limited
    Address : 11, Jatrabari 11/B,
    Dhaka-1201, Bangladesh.
    Hours of Operation : 9:00AM – 5:00PM (Sat-Wed)
    Thu 9:00AM – 2:00PM (Fri Closed)
    Tel : +88 02 9889600
    Fax : +88 02 9881061
</div>

<div class="col-lg-3">
    <h1> Branch Office:</h1>

    DHS Motors Limited
    Address : 11, Rajshashi A/B,
    Dhaka-1100, Bangladesh.
    Hours of Operation : 9:00AM – 5:00PM (Sat-Wed)
    Thu 9:00AM – 2:00PM (Fri Closed)
    Tel : +88 02 9889600
    Fax : +88 02 9881061
</div>