@{
    ViewBag.Title = "Home Page";
}


<marquee> <h1> WELCOME TO  D.H.S MTOROS & & Address : 11, Mohakhali C/A, Dhaka-1212, Bangladesh. Hours of Operation : 9:00AM – 5:00PM (Sat-Wed) Thu 9:00AM – 2:00PM (Fri Closed) Tel : +88 02 9889600 Fax : +88 02 9881061   </h1> </marquee>


<img src="~/Image/pic2.jpg" alt="<h1>Car Shop</h1>" width="1220" height="450">